<a 
    href={% url url %} 
    class="
        group
        border w-[350px] h-[100px] flex items-end
        xl:w-[992px] xl:hover:border-yellowCead 
    "
>
    <div class=" 
        px-8 w-[280px] bg-redCead h-full flex items-center z-10 
        xl:w-[400px] xl:transition-all xl:duration-300
        xl:group-hover:w-[416px] xl:group-hover:px-16
    ">
        <span class="text-white text-2xl xl:text-4xl">{{title}}</span>
    </div>
    <div class="relative h-0 w-0 border-r-[49px] border-r-transparent z-10 border-t-[98px] border-t-redCead"></div>

    <div class="
        -translate-x-[60px] px-4 bg-yellowCead h-full flex items-center transition-all duration-300 group-hover:w-[416px]
        xl:-translate-x-[442px] xl:w-[400px]
    "></div>
    <div class="
        -translate-x-[60px] h-0 w-0 border-r-[49px] border-r-transparent border-t-[98px] border-t-yellowCead
        xl:-translate-x-[442px] 
    "></div>
</a>