<a href={% url url %} class="group border w-[992px] h-[100px] hover:border-yellowCead flex items-end">
    <div class=" 
        px-8 bg-redCead w-[400px] h-full flex items-center transition-all duration-300 z-10 
        group-hover:w-[416px] group-hover:px-16
    ">
        <span class="text-white text-4xl">{{title}}</span>
    </div>
    <div class="relative h-0 w-0 border-r-[49px] border-r-transparent z-10 border-t-[98px] border-t-redCead"></div>

    <div class="-translate-x-[442px] px-4 bg-yellowCead w-[400px] h-full flex items-center transition-all duration-300 group-hover:w-[416px]"></div>
    <div class="-translate-x-[442px] h-0 w-0 border-r-[49px] border-r-transparent border-t-[98px] border-t-yellowCead"></div>
</a>