{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'includes/messages.html' %}

<main class="mb-16">
    <div 
        method="post" 
        class="
            w-[360px] ml-[50%] mt-8 -translate-x-1/2 flex flex-col gap-4 border p-4 shadow-md
            xl:w-auto xl:mt-16
            [&>div]:flex [&>div]:flex-col [&>div]:justify-between [&>div]:gap-2 [&>div]:text-sm
            xl:[&>div]:flex-row xl:[&>div]:text-base
        "
    >{% csrf_token %}
        {% include 'includes/errors.html' %}
        
        <div class="bg-redCead p-4">
            <h2 class="text-white font-bold text-xl">{{curso.nome}}</h2>
        </div>
        <div>
            <div><span class="font-bold">Nome do Curso: </span>{{curso.nome}}</div>
            <div><span class="font-bold">Nome Breve: </span>{{curso.nome_breve}}</div>
        </div>
        
        <div>
            <div><span class="font-bold">Categoria: </span>{{curso.categoria}}</div>
            <div><span class="font-bold">Anexar Documentação? </span>{% if curso.anexar_documentacao %}Sim{% else %}Não{% endif %}</div>
        </div>

        {% if curso.limite_vagas %}
        <div>
            <div><span class="font-bold">Total de Vagas: </span>{{curso.vagas}}</div>
            {% if now|date:"Y-m-d" >= curso.matricula_inicio|date:"Y-m-d"%}
            <div><span class="font-bold">Total de Inscritos: </span>{{curso.dadosdoaluno_set.all|length}}</div>
            {% endif %}
        </div>
        {% endif %}
        
        <div>
            <div><span class="font-bold">Início das Inscrições: </span>{{curso.matricula_inicio|date:"d/m/Y"}}</div>
            <div><span class="font-bold">Encerramento das Inscrições: </span>{{curso.matricula_fim|date:"d/m/Y"}}</div>
        </div>

        <div>
            <div><span class="font-bold">Início das Atividades: </span>{{curso.data_inicio|date:"d/m/Y"}}</div>
            <div><span class="font-bold">Encerramento das Atividades: </span>{{curso.data_fim|date:"d/m/Y"}}</div>
        </div>

        <div>
            <div>
                <span class="font-bold">Situação atual: </span>
                <span>
                    {% if now|date:"Y-m-d" < curso.matricula_inicio|date:"Y-m-d" %}
                    Cadastrado. Início das inscrições em {{curso.matricula_inicio|date:"d/m/Y"}}
                    {% elif now|date:"Y-m-d" >= curso.matricula_inicio|date:"Y-m-d" and now|date:"Y-m-d" <= curso.matricula_fim|date:"Y-m-d" %}
                    Inscrições abertas até o dia {{curso.matricula_fim|date:"d/m/Y"}}
                    {% elif now|date:"Y-m-d" > curso.matricula_fim|date:"Y-m-d" and now|date:"Y-m-d" < curso.data_inicio|date:"Y-m-d" %}
                    Inscrições encerradas. Início das atividades em {{curso.data_inicio|date:"d/m/Y"}}
                    {% elif now|date:"Y-m-d" >= curso.data_inicio|date:"Y-m-d" and now|date:"Y-m-d" <= curso.data_fim|date:"Y-m-d" %}
                    Curso em andamento, com encerramento previsto para {{curso.data_fim|date:"d/m/Y"}}
                    {% else %}
                    Curso encerrado
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    {% if inscritos|length > 0 %}
    <div class="
        w-[360px] ml-[50%] -translate-x-1/2 mt-16 flex flex-col gap-4 border p-4 shadow-md
        xl:w-auto
    ">
        <div class="bg-redCead p-4 flex justify-between items-center">
            <h2 class="text-white font-bold text-base xl:text-xl">Lista de Inscritos</h2>
            <div id="csv-download" class="flex items-center gap-2 border border-yellowCead p-1 rounded hover:cursor-pointer">
                <img src={% static 'assets/download_arrow.svg' %} width="20"/>
                <a href={% url 'download_csv' curso.id %} class="text-yellowCead">Baixar CSV</a>
            </div>
        </div>
        {% for inscrito in inscritos %}
        <div class="flex justify-between items-center text-xs xl:text-base">
            <div class="flex flex-col xl:flex-row">
                <span class="font-bold">Nome:&nbsp;</span>{{inscrito.nome}} {{inscrito.sobrenome}}
            </div>
            <div class="flex gap-6 items-center">
                <div class="flex items-center gap-2">
                    <div>
                        <span class="font-bold hidden xl:inline">Status: </span>
                        {{inscrito.get_status_display}}
                    </div>
                    <div class="h-2 w-2 xl:h-4 xl:w-4 rounded-full
                        {% if inscrito.status == 'W' %}
                        bg-zinc-500
                        {% elif inscrito.status == 'A' %}
                        bg-green-500
                        {% else %}
                        bg-red-500
                        {% endif %}
                    "></div>
                </div>
                <a href={% url 'aluno_detail' inscrito.id %} class="bg-redCead text-white p-2 hover:cursor-pointer hover:brightness-110">Detalhes</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock %}