{% extends "base.html" %}

{% block content %}

{% include 'includes/messages.html' %}

<main class="mb-16">
    <form 
        method="post" 
        class="
            w-11/12 mt-16 flex flex-col gap-4 border p-4 shadow-md ml-[50%] -translate-x-1/2
            xl:w-auto
            [&>div]:flex [&>div]:flex-col [&>div]:justify-between [&>div]:gap-2
            xl:[&>div]:flex-row
            [&>div>div>input]:border [&>div>div>input]:p-2 focus:[&>div>div>input]:outline-redCead [&>div>div>select]:text-xs
            xl:[&>div>div>select]:text-base
            [&>div>div>select]:p-2 [&>div>div>select]:outline-redCead [&>div>div>select]:ml-2
        "
    >{% csrf_token %}
        {% include 'includes/errors.html' %}
        
        <div class="bg-redCead p-4">
            <h2 class="text-white font-bold text-xl">Cadastro de Curso</h2>
        </div>
        <div>
            <div class="w-full [&>input]:w-full">{{form.nome.label}}{{form.nome}}</div>
            <div class="flex flex-col">{{form.nome_breve.label}}{{form.nome_breve}}</div>
        </div>
        
        <div>
            <div>{{form.categoria.label}}{{form.categoria}}</div>
            <div>{{form.anexar_documentacao.label}}{{form.anexar_documentacao}}</div>
        </div>

        <div>
            <div class="[&>input]:w-40">Limite no número de vagas? {{form.limite_vagas}}</div>
            <div style="display: none;" id="vagas" class="transition duration-1000 [&>input]:ml-2 [&>input]:w-20">{{form.vagas.label}}{{form.vagas}}</div>
        </div>
        
        <div class="[&>div>input]:ml-2">
            <div class="flex flex-col xl:flex-row">{{form.matricula_inicio.label}}{{form.matricula_inicio}}</div>
            <div class="flex flex-col xl:flex-row">{{form.matricula_fim.label}}{{form.matricula_fim}}</div>
        </div>

        <div class="[&>div>input]:ml-2">
            <div class="flex flex-col xl:flex-row">{{form.data_inicio.label}}{{form.data_inicio}}</div>
            <div class="flex flex-col xl:flex-row">{{form.data_fim.label}}{{form.data_fim}}</div>
        </div>

        <div class="flex justify-start">
            <button class="text-white font-bold bg-redCead py-2 w-20 xl:hover:brightness-110" type="submit">Enviar</button>
            <a href={% url 'administracao' %} class="text-center text-white font-bold bg-zinc-500 py-2 w-20 xl:hover:brightness-110">Cancelar</a>
        </div>
    </form>
</main>

<script>
    $('#vagas').css('opacity', '0').css('transform', 'translateX(75%)').hide(0);
    
    $('#id_limite_vagas').change(function(){
        console.log($('#id_limite_vagas').val())
        if($('#id_limite_vagas').val() == 'True'){
            $('#vagas').show(0).css('opacity', '1').css('transform', 'translateX(0)');
        }else{
            $('#vagas').css('opacity', '0').css('transform', 'translateX(75%)').delay(1000).hide(0);
        }
    })
</script>

{% endblock %}