{% extends "base.html" %}

{% block content %}


{{form.errors}}
<main class="mb-16">
    <form 
        method="post" 
        class="
            ml-[50%] -translate-x-1/2 mt-16 flex flex-col gap-4 border p-4 shadow-md
            [&>div]:flex [&>div]:justify-between [&>div]:gap-2
            [&>div>div>input]:border [&>div>div>input]:p-2 focus:[&>div>div>input]:outline-redCead 
            [&>div>div>select]:p-2 [&>div>div>select]:outline-redCead [&>div>div>select]:ml-2
        "
    >{% csrf_token %}
        
        <div class="bg-redCead p-4">
            <h2 class="text-white font-bold text-xl">Cadastro de Curso</h2>
        </div>
        <div>
            <div class="w-full [&>input]:w-full">{{form.nome.label}}{{form.nome}}</div>
            <div>{{form.nome_breve.label}}{{form.nome_breve}}</div>
        </div>
        
        <div>
            <div>{{form.categoria.label}}{{form.categoria}}</div>
            <div>{{form.anexar_documentacao.label}}{{form.anexar_documentacao}}</div>
        </div>

        <div>
            <div class="[&>input]:ml-2 [&>input]:w-20">{{form.vagas.label}}{{form.vagas}}</div>
        </div>
        
        <div class="[&>div>input]:ml-2">
            <div>{{form.data_inicio.label}}{{form.data_inicio}}</div>
            <div>{{form.data_fim.label}}{{form.data_fim}}</div>
        </div>
        
        <div class="[&>div>input]:ml-2">
            <div>{{form.matricula_inicio.label}}{{form.matricula_inicio}}</div>
            <div>{{form.matricula_fim.label}}{{form.matricula_fim}}</div>
        </div>

        <button class="text-white font-bold bg-redCead py-2 w-20 hover:brightness-110" type="submit">Enviar</button>
    </form>
</main>

{% endblock %}