{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<main class="mt-16 flex justify-center gap-32">
    {% include "includes/menu_button.html" with url='aluno_cadastro' name='Inscrição' icon='assets/curso.png'%}

    {% include "includes/menu_button.html" with url='administracao' name='Administração' icon='assets/disciplina.png' %}
</main>

{% endblock %}