{% extends 'base.html' %}

{% block content %}

<main class="
    absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2
    w-[500px] h-[300px] p-12 border shadow-md justify-center gap-8 flex flex-col items-center
">
    <p class="text-lg font-bold">Sua inscrição foi realizada com sucesso!</p>
    <p class="text-center">
        Aguarde informações adicionais através do e-mail cadastrado 
        (checar também a caixa de spam) e, em caso de dúvidas,
        entrar em contato conosco através do endereço <a class="text-redCead" href="mailto: suporte@cead.ufjf.br">suporte@cead.ufjf.br</a>.
    </p>
    <p class="text-sm">Você pode fechar essa janela.</p>
</main>

{% endblock %}